<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>스프링 부트 서버측 유효성 검사</h3>
<form action="actionForm" method="post">
    <div>
        <span>이름 : </span>
        <input type="text" name="name" th:value="${vo.name}">
        <span th:errors="${vo.name}"></span>
    </div>
    <div>
        <span>급여 : </span>
        <input type="text" name="salary" th:value="${vo.salary}">
        <span th:errors="${vo.salary}"></span>
    </div>
    <div>
        <span>전화번호 : </span>
        <input type="text" name="phone" th:value="${vo.phone}"></div>
    <span th:errors="${vo.phone}"></span>
    <div>
        <span>이메일 : </span>
        <input type="text" name="email" th:value="${vo.email}">
        <span th:errors="${vo.email}"></span>
    </div>
    <div>
        <input type="submit" value="유효성 검증">
    </div>
</form>
</body>
</html>