<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	span {color: red;}
</style>

</head>

<body>
	
	<form action="memoForm" method="post">
		<h3>메모기능 구현</h3>	
		<textarea name="memo" rows="5" cols="30" placeholder="내용을 작성해주세요(5글자 이상)" >[[${memoVO.memo}]]</textarea>
		<span th:errors="${memoVO.memo}"></span><br>
		<input type="text" name="phone" placeholder="연락받을 전화번호" th:value="${memoVO.phone}">
		<span th:errors="${memoVO.phone}"></span><br>
		<input type="password" name="pw" placeholder="비밀번호 숫자 4자리" th:value="${memoVO.pw}">
		<span th:errors="${memoVO.pw}"></span><br>
		
		<!-- th:checked값이 true라면 체크처리 -->
		<input type="radio" name="secret" value="n" th:checked="${memoVO.secret eq 'n' || memoVO.secret eq null}">공개글
		<input type="radio" name="secret" value="y" th:checked="${memoVO.secret eq 'y'}" >비밀글
		<span th:errors="${memoVO.secret}"></span><br>
		

		<input type="submit" value="등록">
	</form>
	
	
</body>
</html>