<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>타임리프 내장객체 사용법</h3>
<input type="text" th:value="${#arrays.length(arr)}"/>

<hr>
list length
<!--<input type="text" th:value="${#lists.length(list)}"/>-->

<hr>
empty list check
<!--<input type="text" th:value="${#lists.isEmpty(list)}"/>-->

<hr>
date
<input type="text" th:value="${now}"/>

<hr>
date format
<input type="text" th:value="${#dates.format(now, 'yyyy MM dd')}"/>

<h3>th:inline 자바스크립트로 값 받기</h3>
    <script th:inline="javascript">
        let name = [[${name}]];
        let arr = [[${arr}]];
        let vo = [[${vo}]];
        console.log(name);
        console.log(arr[1]);
        console.log(vo);
    </script>
</body>
</html>